.container {
    line-height: 30px;
    padding-top: 34px;
    padding-left: 13px;
    
    &__subtitle {
        font-size: 14px;
        line-height: 30px;
        color: $color-primary;
        font-family: $font-main;
    }
    &__title {
        font-size: 22px;
        line-height: 30px;
        color: $black;
        font-family: $font-text;
    }
    &__p {
        font-size: 18px;
        color: $color-terciary;
        font-family: $font-main;
        padding-top: 10px;
        padding-right: 17px;
        padding-bottom: 42px;
    }
}

.buy {
    display: flex;
    padding-left: 15px;
    margin-bottom: 28px;
    width: 160px;
    height: 45px;
    &__link {
        width: 100%;
        color: $color-primary;
        border: solid 2px $color-primary;
        border-radius: 20px;
        text-align: center;
        line-height: 45px;
        font-family: $font-main;
        font-size: 20px;
    }
}