.container__school {
    background-color: $color-secondary;
    display: flex;
    padding-top: 18px;
    padding-bottom: 37px;
    font-family: $font-text;
    text-align: center;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        padding-top: 27px;
        padding-bottom: 50.5px;
      }
    &--title {
        font-size: 12px;
        color: #626262;
        line-height: 30px;
        font-weight: bold;
        height: 17px;
        @media (min-width: 768px) {
            height: 22px;
          }
    }
    &--subtitle {
        font-size: 20px;
        color: $black;
        line-height: 30px;
        font-weight: bold;
        height: 26.5px;
        @media (min-width: 768px) {
            font-size: 28px;
            line-height: 45px;
            height: 45px;
          }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: space-evenly;
    justify-items: center;
    align-items: start;
    padding-top: 12px;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 75px;
        padding-top: 22px;
        padding-bottom: 17.5px;
      }
      @media (min-width: 1280px) {
        column-gap: 115px;
    }
    &__img {
        margin: 0 auto;
        width: 115px;
        height: auto;
        border-radius: 75px;
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &__text {
        font-size: 14px;
        line-height: 30px;
        color: $black;
        font-family: $font-text;
        font-weight: bold;
        padding-bottom: 10px;
        @media (min-width: 768px) {
            font-size: 18px;
            font-weight: 900;
          }
    }
}

.button__green {
    margin: 0 auto;
    width: 184px;
    height: 47.5px;
    color: $white;
    background-color: $color-primary;
    border-radius: 20px;
    text-align: center;
    line-height: 45px;
    font-family: $font-main;
    font-size: 20px;
}