.container {
    line-height: 30px;
    padding-top: 34px;
    padding-left: 13px;
    @media (min-width: 768px) {
        padding-top: 37.3px;
        padding-left: 37.1px;
      }
      @media (min-width: 1280px) {
        padding-top: 39px;
        padding-left: 170px;
      }
    &__subtitle {
        font-size: 14px;
        line-height: 30px;
        color: $color-primary;
        font-family: $font-main;
        @media (min-width: 768px) {
            font-size: 16px;
          }          
    }
    &__title {
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        color: $black;
        font-family: $font-text;
        @media (min-width: 768px) {
            font-size: 32px;
            line-height: 45px;
          }
    }
    &__p {
        font-size: 18px;
        color: $color-terciary;
        font-family: $font-main;
        padding-top: 10px;
        padding-right: 17px;
        padding-bottom: 42px;
        @media (min-width: 768px) {
            font-size: 20px;
            line-height: 30px;
            padding-top: 12.1px;
            padding-bottom: 21.2px;
            padding-right: 39.1px
          }
        @media (min-width: 1280px) {
          padding-top: 22px;
          padding-bottom: 41px;
          padding-right: 0px;
          width: 942px;
          }
    }
}

.buy {
    display: flex;
    padding-left: 15px;
    margin-bottom: 28px;
    width: 160px;
    height: 45px;
    @media (min-width: 768px) {
        padding-left: 39.1px;
        margin-bottom: 51.5px;
        width: 160.4px;
        height: 45.4px;
      }
      @media (min-width: 1280px) {
          padding-left: 0px;
          margin-left: 170px;
      }
    &__link {
        display: flex;
        width: 100%;
        color: $color-primary;
        border: solid 3px $color-primary;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        font-family: $font-main;
        font-size: 20px;
        font-weight: 500;        
    }
}