<footer id="footer">
    <div class="scrollup">
        <a class="scrollup__up" href="index.html"><img class="scrollup__up--img" src="/images/ico-arrow.svg" alt=""></a>
    </div>
    <div class="boxes">
        <div class="box__1">
            <a href="https://adalab.es/" target="_blank">ZAPATILLAS</a>
            <a href="https://adalab.es/" target="_blank">ROPA</a>
            <a href="https://adalab.es/" target="_blank">NIÑO/A</a>
            <a href="https://adalab.es/" target="_blank">DESTACADOS</a>
            <a href="https://adalab.es/" target="_blank">TIPS</a>
        </div>
        <div class="box__2">
            <a href="https://adalab.es/" target="_blank">TWITTER</a>
            <a href="https://adalab.es/" target="_blank">INSTAGRAM</a>
            <a href="https://adalab.es/" target="_blank">YOUTUBE</a>
        </div>
        <div class="box__3">
            <p>©2023</p>
            <span>we</span><span class="box__3--heart">❤︎</span><span>run</span>       
        </div>
    </div>
</footer>