<footer id="footer">
    <div class="scrollup">
        <a class="scrollup__up" href="index.html"><img class="scrollup__up--img" src="/images/ico-arrow.svg" alt=""></a>
    </div>
    <div>
        <ul class="box__1">
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>
    </div>
    <div>
        <ul class="box__2" >
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
        </ul>
    </div>
    <div class="box__3">
        <span>©2023</span>
    </div>
    <div class="box__4">
        <span>we
        <span class="box__4--heart">❤︎</span>
        <span>run</span>
    </div>
</footer>