<aside class="container__school">
    <p class="container__school--title">¡Prepáralos con tus marcas favoritas!</p>
    <h3 class="container__school--subtitle">VUELTA AL COLE</h3>
    <div class="wrapper">
        <div>
            <img class="wrapper__img" src="/images/mochila.png" alt="Mochila">
            <p class="wrapper__text">Mochilas escolares</p>
        </div>
        <div>
            <img class="wrapper__img" src="/images/estuche.png" alt="Estuche">
            <p class="wrapper__text">Estuches</p>
        </div>
        <div>
            <img class="wrapper__img" src="/images/bolsa-mochila.png" alt="">
            <p class="wrapper__text">Bolsas de deporte</p>
        </div>
    </div>
    <a class="button__green" href="https://adalab.es/" target="_blank">Empezar ahora</a>
</aside>