<aside class="container__school">
    <p class="container__school--title">¡Prepáralos con tus marcas favoritas!</p>
    <h3 class="container__chool--subtitle">VUELTA AL COLE</h3>
    <div class="wrapper">
        <img class="wrapper__1" src="/images/mochila.png" alt="Mochila">
        <span class="wrapper__text">Mochilas escolares</span>
        <img class="wrapper__1" src="/images/estuche.png" alt="Estuche">
        <span class="wrapper__text">Estuches</span>
        <img class="wrapper__1" src="/images/bolsa-mochila.png" alt="">
        <span class="wrapper__text">Bolsas de deporte</span>
    </div>
    <a class="button__green" href="https://adalab.es/">Empezar ahora</a>
</aside>